*{
    margin: 0;
    padding: 0;
}

.parent{
    position: relative;

}

.child{
    height: 200px;
    width: 250px;
    background-color: grey ;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-direction: column;
    right: 20px;
    top: 40px;
}


.bttlo{
    height: 50px;
    width: 200px;
    background-color: crimson;
    border: none;
    border-radius: 20px;
    font-size: large;
    font-weight: bolder;

}

.bttlo:hover{
    background-color: tomato;
}